<%= form_tag admin_sessions_path, :class=>'form-signin' do %>
  <h2 class="form-signin-heading">User Login</h2>
  <div class="form-group">
      <label for="inputEmail" class="sr-only">Email address</label>
     <%= text_field_tag :email, params[:email], class:'form-control', id:'inputEmail', placeholder:'Email address' %> 
  </div>
  <label for="inputPassword" class="sr-only">Password</label>
  <%= password_field_tag :password, params[:password],  class:'form-control', id:'inputPasswordl', placeholder:'password' %>
  <div class="form-group">
    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
     <%= label_tag :remember_me %>
    <label for="forgetpassword">
      <%= link_to  "Forget my password" %>
    </label>
  </div>
  <%= submit_tag "Signin", class:'btn btn-lg btn-primary'%>
  <%= link_to  "Cancel", login_path, class:'btn btn-lg btn-default' %>
<% end %>
