<%= form_for  @student do |f| %>
<h2 class="form-signin-heading">Student Registration Form</h2>
    <% if @student.errors.any? %>
        <% @student.errors.full_messages.each do |msg| %>
           <div class="alert alert-danger"><%= msg %></div>
        <% end %>
        
    <% end %>
    <div class="form-group">
        <%= f.label :reg_number, class:'sr-only' %>
        <%= f.text_field :reg_number, class:'form-control', placeholder:'Registration Number' %>
    </div>
    <div class="form-group">
        <%= f.label :first_name, class:'sr-only' %>
        <%= f.text_field :first_name, class:'form-control', placeholder:'First Name' %>
    </div>
    <div class="form-group">
        <%= f.label :last_name, class:'sr-only' %>
        <%= f.text_field :last_name, class:'form-control', placeholder:'Last Name' %>
    </div>
    <div class="form-group">
        <%= f.label :email, class:'sr-only' %>
        <%= f.text_field :email, class:'form-control', placeholder:'Email address' %>
    </div>
    <div class="form-group">
        <%= f.label :password, class:'sr-only' %>
        <%= f.password_field :password, class:'form-control', placeholder:'Password' %>
    </div>
    <div class="form-group">
        <%= f.label :password_confirmation, class:'sr-only' %>
        <%= f.password_field :confirm_password, class:'form-control', placeholder:'Repeat password' %>
    </div>
    <%= f.submit "Submit", class:'btn btn-primary' %>
    <%= link_to  "Cancel", root_path, class:'btn btn-default' %>
<% end %>