
<div class="alert alert-warning">
    Once it is your first time to log in, you have to update your profile.
</div>
<div class="panel panel-default">
    <div class="panel panel-body">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 ">
                <% if current_student.profile_picture.present? %>
                    <%= image_tag "#{current_student.profile_picture}", width:'100%' %>
                <% else %>
                    <%= image_tag  "student-default.png", width:'100%' %>
                <%end%>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <strong>School: </strong><%= @student.school.name %><br>
                <strong>Department: </strong><%= current_student.department.name%><br>
                <strong>Level: </strong><%= current_student.level %><br>
                <strong>Reg. Number: </strong><%= current_student.reg_number%>
                <strong>Name: </strong> <%= current_student.first_name%> <%= current_student.last_name%><br>
                <strong>Email:</strong> <%= current_student.email %>

            </div>
        </div>
    </div>
    <div class="panel panel-footer">
        <%= link_to  "Update profile", edit_student_path(current_student), class:'btn btn-primary'%>
        <%= link_to  "Apply Certificate", new_application_path, class:'btn btn-default'%>
        <% @applications.each do |application| %>
        <% if application.reg_number = current_student.reg_number %>
            <%= link_to  "Check Status", application_path(application), class:'btn btn-success'%>
        <% end %>
        <% end %>
        
    </div>
</div>

    

