<h2 class="page-haeder">Welcome <%= current_student.reg_number%></h2>
<div class="row">
    <div class="col-md-8">
        <ul class="nav">
            <li class="update">
                Before you do anything you have to update your profile by providing your academic information
                <%= link_to  "Update your profile", edit_student_path(current_student)%>
            </li>
            <li class="apply">
                Before you do anything you have to update your profile by providing your academic information
                <%= link_to  "Apply Certificate", new_application_path%>
            </li>
            <li class="view">
                Before you do anything you have to update your profile by providing your academic information
                <%= link_to  "View Certificate", applications_path %>
            </li>              
        </ul>
    </div>
    <% if current_student.profile_picture.present? %>
    <div class="col-md-4"><%= image_tag current_student.profile_picture.url(:medium) %></div>
    <% else %>
    <div class="col-md-4"><%= image_tag  "student-default.png", width:'100%' %></div>
    <%end%>
</div>
