<%= form_for  @application do |f| %>
<% if current_student %>
<h2 class="form-signin-heading">Student Registration Form</h2>
    <% if @application.errors.any? %>
        <% @application.errors.full_messages.each do |msg| %>
           <div class="alert alert-danger"><%= msg %></div>
        <% end %>
        
    <% end %>
<div class="form-group">
    <%= f.label :reg_number, class:'sr-only' %>
    <%= f.text_field :reg_number, class:'form-control', placeholder:'Registration Number', value:"#{current_student.reg_number}" %>
</div>
<div class="form-group">
    <%= f.label :first_name, class:'sr-only' %>
    <%= f.text_field :first_name, class:'form-control', placeholder:'First Name', value:"#{current_student.first_name}"  %>
</div>
<div class="form-group">
    <%= f.label :last_name, class:'sr-only' %>
    <%= f.text_field :last_name, class:'form-control', placeholder:'Last Name', value:"#{current_student.last_name}"  %>
</div>
<div class="form-group">
    <%= f.label :sex, class:'sr-only' %>
    <%= f.text_field :sex, class:'form-control', placeholder:'Sex', value:"#{current_student.sex}"  %>
</div>
<div class="form-group">
    <%= f.label :email, class:'sr-only' %>
    <%= f.text_field :email, class:'form-control', placeholder:'Email address', value:"#{current_student.email}"  %>
</div>
<div class="form-group">
    <%= f.label :department, class:'sr-only' %>
    <%= f.text_field :department, class:'form-control', placeholder:'Department', value:"#{current_student.department}"  %>
</div>
<div class="form-group">
    <%= f.label :academic_year, class:'sr-only' %>
    <%= f.text_field :academic_year, class:'form-control', placeholder:'Academic year', value:"#{current_student.academic_year}"  %>
</div>
<div class="form-group">
    <%= f.label :level, class:'sr-only' %>
    <%= f.number_field :level, class:'form-control', placeholder:'Year of study or level', value:"#{current_student.level}"  %>
</div>
<div class="form-group">
    <%= f.label :sponsor, class:'sr-only' %>
    <%= f.text_field :sponsor, class:'form-control', placeholder:'Sponsor', value:"#{current_student.sponsor}"  %>
</div>
<div class="form-group">
    <%= f.label :telephone, class:'sr-only' %>
    <%= f.text_field :telephone, class:'form-control', placeholder:'Telephone number', value:"#{current_student.telephone}"  %>
</div>
<div class="form-group">
    <%= f.label :student_id, class:'hidden' %>
    <%= f.number_field :student_id, class:'hidden', placeholder:'Telephone number', value:"#{current_student.id}"  %>
</div>
<div class="form-group">
    <%= f.label :profile_picture, class:'sr-only' %>
    <%= f.file_field :profile_picture, class:'form-control', placeholder:'Telephone number' %>
</div>
<%= f.submit "Submit", class:'btn btn-primary' %>
<%= link_to  "Cancel", student_path(current_student), class:'btn btn-default' %>
<% end %>
<% end %>