<%if current_user %>
    <% if @application.errors.any? %>
            <% @application.errors.full_messages.each do |msg|%>
                <div class="alert alert-danger"><%= msg %></div>
            <% end %>
    <% end %>
    <br/>
    <br/>
    <div class="row">
      <% if @application.profile_picture != nil %>
        <div class="col-sm-3"><%= image_tag @application.profile_picture.url(:medium), width:'100%' %></div>
        <% else %>
        <div class="col-sm-3"><%= image_tag  "student-default.png", width:'100%' %></div>
      <%end%>
      <br/>
      <div class="col-sm-6" id="sdetails">
        
        <li><strong>Registration number:</strong> <%= @application.reg_number%></li>
        <li><strong>Names:</strong> <%= @application.first_name %> <%= @application.last_name %></li>
        <li><strong>Eamil:</strong> <%= @application.email %></li>
        <li><strong>Telephone:</strong> <%= @application.telephone %></li>
        <li><strong>School:</strong> <%= @application.school %></li>
        <li><strong>Department:</strong> <%= @application.department %></li>
        <li><strong>Academic Year:</strong> <%= @application.academic_year %></li>
        <li><strong>Sponsor:</strong> <%= @application.sponsor %></li>
        </div>
    </div>
     <% if current_user.role == 'Dean'%>
        <br/>
        <div class="form-group">
            <%= form_for [:admin, @application] do |f| %>
                <%= f.hidden_field :is_dean_approve, :value => 1 %>
                <%= f.submit "Approve", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
        <div class="approjectBtn">
         <%= form_for [:admin, @application] do |f| %>
            <div class="form-group">
                <%= f.label :comments_section, class:'sr-only'%>
                <%= f.text_area :dean_comment, class:'form-control', placeholder:'Give him or her a feedback if you reject this application'%>
            </div>
            <%= f.hidden_field :is_dean_approve, :value => 0 %>
            <%= f.submit "Reject", class: "btn btn-large btn-default" %>
        <% end %>
        </div>
    <% elsif current_user.role == 'HOD'%>
         <br/>
        <div class="form-group">
            <%= form_for [:admin, @application] do |f| %>
                <%= f.hidden_field :is_hod_approve, :value => 1 %>
                <%= f.submit "Approve", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
        <div class="approjectBtn">
         <%= form_for [:admin, @application] do |f| %>
            <div class="form-group">
                <%= f.label :comments_section, class:'sr-only'%>
                <%= f.text_area :hod_comment, class:'form-control', placeholder:'Give him or her a feedback if you reject this application'%>
            </div>
            <%= f.hidden_field :is_hod_approve, :value => 0 %>
            <%= f.submit "Reject", class: "btn btn-large btn-default" %>
        <% end %>
        </div>
    <% elsif current_user.role == 'Finance'%>
        <br/>
        <div class="form-group">
            <%= form_for [:admin, @application] do |f| %>
                <%= f.hidden_field :is_finance_approve, :value => 1 %>
                <%= f.submit "Approve", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
        <div class="approjectBtn">
         <%= form_for [:admin, @application] do |f| %>
            <div class="form-group">
                <%= f.label :comments_section, class:'sr-only'%>
                <%= f.text_area :finance_comment, class:'form-control', placeholder:'Give him or her a feedback if you reject this application'%>
            </div>
            <%= f.hidden_field :is_finance_approve, :value => 0 %>
            <%= f.submit "Reject", class: "btn btn-large btn-default" %>
        <% end %>
        </div>
    <% elsif current_user.role == 'Warden'%>
        <br/>
        <div class="form-group">
            <%= form_for [:admin, @application] do |f| %>
                <%= f.hidden_field :is_warden_approve, :value => 1 %>
                <%= f.submit "Approve", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
        <div class="approjectBtn">
         <%= form_for [:admin, @application] do |f| %>
            <div class="form-group">
                <%= f.label :comments_section, class:'sr-only'%>
                <%= f.text_area :warden_comment, class:'form-control', placeholder:'Give him or her a feedback if you reject this application'%>
            </div>
            <%= f.hidden_field :is_warden_approve, :value => 0 %>
            <%= f.submit "Reject", class: "btn btn-large btn-default" %>
        <% end %>
        </div>
    <% elsif current_user.role == 'Librarian'%>
        <br/>
        <div class="form-group">
            <%= form_for [:admin, @application] do |f| %>
                <%= f.hidden_field :is_librarian_approve, :value => 1 %>
                <%= f.submit "Approve", class: "btn btn-large btn-primary" %>
            <% end %>
        </div>
        <div class="approjectBtn">
         <%= form_for [:admin, @application] do |f| %>
            <div class="form-group">
                <%= f.label :comments_section, class:'sr-only'%>
                <%= f.text_area :librarian_comment, class:'form-control', placeholder:'Give him or her a feedback if you reject this application'%>
            </div>
            <%= f.hidden_field :is_librarian_approve, :value => 0 %>
            <%= f.submit "Reject", class: "btn btn-large btn-default" %>
        <% end %>
        </div>
     <% else %>
     <p>User not found, Try again!!!</p>
     <% end %>
<% else %>
  <p>Unauthorized Access</p>
<% end %>