<div class="list-group custom-bg">
    <a href="#" class="list-group-item active main-color-bg"><span class="glyphicon glyphicon-cog"></span> Applications</a>
    <%= link_to  admin_application_path(2), class:'list-group-item' do %>
       <span class="glyphicon glyphicon-list-alt"></span> New applications <span class="badge"><%= @apnew%></span>
    <% end %>
    <%= link_to  admin_application_path(1), class:'list-group-item' do %>
      <span class="glyphicon glyphicon-ok"></span> Approved applications <span class="badge"><%= @apapprov %></span>
    <% end %>
    <%= link_to  admin_application_path(0), class:'list-group-item' do %>
      <span class="glyphicon glyphicon-remove"></span> Rejected applications <span class="badge"><%= @apreject %></span>
    <% end %>
</div>