<!DOCTYPE html>
<html>
  <head>
    <title>ClearApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="urlogo">
            <%= image_tag  "urlogo.JPG" %>
          </div>
        </div>
        <div class="col-sm-9"></div>
      </div>
      <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
             <div class="logout"> 
              <p class="pull-right"><strong>Logged as: </strong> <%= current_user.role %> &nbsp; <%= link_to  " Logout", logout_path, class:'pull-right' %></p>
             </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-3">
            <%= render  "partials/dashboard" %>
          </div>
          <div class="col-sm-9">
             <% if flash[:notice]%>
                <div class="alert alert-success"><%= flash[:notice]%></div>
              <% end %>
              <% if flash[:alert]%>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
              <% end %>
               <h3 class="page-header">
            <%= @page_title ? @page_title : 'Welcome to SoICT clearance application' %>
          </h3>
            <%= yield %>
            
          </div>
        </div>
    </div>
    
  </body>
</html>
