<!DOCTYPE html>
<html>
  <head>
    <title>ClearApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-default navbar-stick-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand urlogo" href="#">
            <%= image_tag  "urlogo.JPG", width:'70%' %></a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
              <li><a href="#">
                  <% if current_user%>
                     <span class="userRole">Welcome, <%= if current_user.role == "Warden" then "Student welfare" else current_user.role end %> </span>
                  <% end %>
                </a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><% if current_user%>
               &nbsp; <%= link_to  " Logout", admin_userlogout_path, class:'pull-right',id:'logout' %>
              <% else%>
              <p>Unauthorized access</p>
              <% end %></li>
              </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
    </div>
      
      <!-- End of navigation -->
      <div class="container">
        <h1><span class="glyphicon glyphicon-cog"></span> User Dashboard<small> Manage student applications</small></h1>
        <div class="row">
        
          <div class="col-sm-3">
            <%= render  "partials/dashboard" %>
          </div>
          <div class="col-sm-9">
             <% if flash[:notice]%>
                <div class="alert alert-success"><%= flash[:notice]%></div>
              <% end %>
              <% if flash[:alert]%>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
              <% end %>
              <%= render  "partials/maindashboard" %>
            <%= yield %>
            
          </div>
        </div>
    </div>
    
  </body>
</html>
