<!DOCTYPE html>
<html>
  <head>
    <title>ClearApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="urlogo">
                <%= image_tag  "urlogo.JPG" %>
              </div>
         </div>
          <div class="col-md-8">
          <div class="content">
            <%= yield %>
          </div>
          </div>
        </div>
    </div>
    
  </body>
</html>