<!DOCTYPE html>
<html>
  <head>
    <title>ClearApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'admin/login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <div class="row">
        <div class="col-md-4"></div>
          <div class="col-md-4">
            <div class="urlogo">
                <%= image_tag  "urlogo.jpg", width:'20%' %>
              </div>
         </div>
         <div class="col-md-4"></div>
         </div>
         <div class="row">
         <div class="col-md-4"></div>
          <div class="col-md-4">
          <div class="content">
             <% if flash[:notice]%>
                <div class="alert alert-success"><%= flash[:notice]%></div>
              <% end %>
              <% if flash[:alert]%>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
              <% end %>
            <%= yield %>
          </div>
          </div>
        </div>
        <div class="col-md-4"></div>
        </div>
    </div>
    
  </body>
</html>