<%if current_user.role == 'Registrar'%>
  <% if params[:search] %>
  <br/>
  <br/>
  <% if @application.exists? %>
    <% if params[:controller] == 'admin/applications' %>
      <div class="list-group">
        <% @application.each do |application| %>
        <%= link_to  application.reg_number, admin_application_path(application.id), class:'list-group-item' %>
        <% end %>
      </div>
    <% end %>
  <% else %>
     <p>No student is not found check <strong class="page-header">Registration number</strong></p>
     <p>or</p>
     <p>Student is<strong class="page-header"> not yet Applied</strong> for clearence</p>
     
     <p>
  <% end %>
  <% end %>
<% else %>  
<% if @applications.exists? %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Registration Number</th>
        <th>Departmentr</th>
        <th>Level</th>
        <th>Applied At</th>
        <th>Action</th>
      </tr>
    </thead>
    <% @applications.each do |application|%>
      <tbody>
        <tr>
          <td><%= application.reg_number%></td>
          <td><%= application.department%></td>
          <td><%= application.level%></td>
          <td><%= application.created_at.to_time.strftime('%B %e at %l:%M %p')%></td>
          <td><%= link_to  "View details", edit_admin_application_path(application) %></td>
        </tr>     
      </tbody>
    <% end%>
  </table>
  <%= will_paginate @applications%>
</div>
<% else %>
<p>No applications currently avaible</p>
<% end %>
<% end %>


