<!DOCTYPE html>
<html>
  <head>
    <title>ClearApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <ul class="nav navbar-nav navbar-right">
    <li class="logout">
      <%= link_to  "Logout", logout_path %>
    </li>
  </ul>
  
  <body>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="urlogo">
                <%= link_to image_tag("urlogo.JPG"), student_path(current_user) %>
              </div>
         </div>
          <div class="col-md-8">
          <div class="content">
             <% if flash[:notice]%>
                <div class="alert alert-success"><%= flash[:notice]%></div>
              <% end %>
              <% if flash[:alert]%>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
              <% end %>
            <%= yield %>
          </div>
          </div>
        </div>
    </div>
    
  </body>
</html>