<!DOCTYPE html>
<html>
  <head>
    <title>ClearApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>
    <div class="container">
        <div class="row">
        <div class ="col-md-3"></div>
          <div class="col-md-6">
            <div class="urlogo">
                <%= image_tag  "urlogo.JPG" %>
              </div>
         </div>
         <div class ="col-md-3">
         </div>
         </div>
         <div class="logout">
              <p class="pull-right"><strong><%= current_student.reg_number %> </strong>&nbsp; <%= link_to  " Logout", logout_path, class:'pull-right' %></p>
            </div>
         <div class="row">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
            <div class="content">
              <% if flash[:notice]%>
                  <div class="alert alert-success"><%= flash[:notice]%></div>
                <% end %>
                <% if flash[:alert]%>
                  <div class="alert alert-danger"><%= flash[:alert] %></div>
                <% end %>
                <%= yield %>
              </div>
            </div>
            <div class ="col-md-3"></div>
        </div>
    </div>
    
  </body>
</html>