<!DOCTYPE html>
<html>
  <head>
    <title>ClearApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'login', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to  root_path do %>
            <div class="urlogo">
                <%= image_tag  "urlogo.png", width:'40%' %>
              </div>
          <% end %>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <div class="adminlogin">
              <a class="staff-login pull-right">
                <span data-target="#modalUserLogin" data-toggle="modal">Staff Portal</span>
              </a>
              
            </div>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
        <div class="row">
        <div class ="col-md-4"></div>
          <div class="col-md-4">
            
         </div>
         <div class ="col-md-4"> 
            <div class="adminlogin">
              <a class="staff-login pull-right">
                <span data-target="#modalUserLogin" data-toggle="modal">Staff Portal</span>
              </a>
              
            </div>
          </div>
          </div>
          

          <!-- Student register Modal -->
          <div class="modal" id="modalStudentRegister" z-index="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <span  data-dismiss="modal" class="close"> &times;</span>
                </div>
                <div class="modal-body">
                   <%= form_tag new_student_path, :class=>'form-signin' do %>
                      <h2 class="form-signin-heading">Student Registration Form</h2>
                      <div class="form-group">
                          <label for="inputName" class="sr-only">Registration Number</label>
                          <%= text_field_tag :reg_number, params[:reg_number], class:'form-control', placeholder:'Registration Number' %>
                      </div>
                      <div class="form-group">
                          <label for="inputFirstName" class="sr-only">First Name</label>
                          <%= text_field_tag :first_name, params[:first_name], class:'form-control', placeholder:'First Name' %>
                      </div>
                      <div class="form-group">
                          <label for="inputLastName" class="sr-only">Last Name</label>
                          <%= text_field_tag :last_name, params[:last_name], class:'form-control', placeholder:'Last Name' %>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <%= text_field_tag :email, params[:email], class:'form-control', id:'inputEmail', placeholder:'Email address' %> 
                      </div>
                      <label for="inputPassword" class="sr-only">Password</label>
                      <%= password_field_tag :password, params[:password],  class:'form-control', id:'inputPassword', placeholder:'password' %>
                      <div class="form-group">
                        <label for="inputEmail" class="sr-only">Email address</label>
                        <%= password_field_tag :password_confirmation, params[:password_confirmation], class:'form-control', id:'inputPaasword', placeholder:'Password confirmation' %> 
                      </div>
                      <%= submit_tag "Submit", class:'btn btn-lg btn-primary'%>
                      <%= link_to  "cancel", root_path, class:'btn btn-lg btn-default' %>
                    <% end %>
                </div>
              </div>
            </div>
          </div>



         <div class="row">
         <div class ="col-md-3"></div>
          <div class="col-md-6">
          <div class="content">
             <% if flash[:notice] %>
                <div class="alert alert-success"><%= flash[:notice] %></div>
              <% end %>
              <% if flash[:alert] %>
                <div class="alert alert-danger"><%= flash[:alert] %></div>
              <% end %>
              
            <%= yield %>
          </div>
          </div>
          <div class ="col-md-3"></div>
        </div>
    </div>
    
  </body>
</html>